* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(190deg, green, lightgreen, lightblue, teal);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas: "sidebar header header header"
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main";
  grid-template-rows: 2fr 3fr 3fr 3fr;
  grid-template-columns: 2fr 3fr 3fr 2fr;
  gap: 10px;
  padding: 10px;
}

.main-content {
  grid-area: main;
  background-color: rgba(255, 255, 255, 0.116);
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  padding: 10px;
}

.sidebar {
  grid-area: sidebar;
  background-color: rgba(220, 220, 220, 0.137);
  display: grid;
  grid-template-columns: 40px auto;
  grid-template-rows: repeat(auto-fill, minmax(30px, 1fr));
  gap: 25px 5px;
  align-items: center;
  padding: 10px;
}

.dashboard {
  font-size: 3vh;
  grid-row: 1 / 4;
}

img {
  width: 30px;
}

.bell {
  justify-self: center;
}

.header {
  grid-area: header;
  background-color: rgba(220, 220, 220, 0.178);
  display: grid;
  grid-template-columns: 1fr auto;
}

.header-top-right {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 10px;
  gap: 15px;
  align-items: center;
  font-size: small;
  font-weight: bold;
  font-size: 15px;
}

.header-top-left {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.header-top-left input {
  background-color: rgba(255, 255, 255, 0.562);
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 15px;
}

.header-bottom-left {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 15px;
  padding: 20px;
  justify-content: center;
}

.header-bottom-right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-self: end;
  padding: 15px;
  gap: 10px;
}

.username-big {
  font-size: 15px;
  margin-top: 10px;
}

.username {
  font-size: 12px;
  font-weight: 600;
}

.normal {
  width: 60px;
}

.header-bottom-right button {
  background-color: rgb(7, 145, 60);
  padding: 10px 25px;
  font-size: 15px;
  border-radius: 20px;
  color: white;
  border: 2px solid rgb(3, 80, 33);
}

.profile-img {
  border-radius: 100%;
}

.overlay {
  grid-column: 1/-1;
  font-size: large;
  font-weight: bolder;
}

.main-left {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-template-rows: 20px;
  gap: 15px;
}

.main-left>div {
  display: grid;
  grid-template-rows: 20px 2fr 1fr;
  align-items: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.568);
  border-radius: 5px;
  border-left: 8px rgb(26, 185, 26) solid;
}

.main-left>div>div {
  justify-self: end;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

.main-right {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
  padding: 10px;
}

.main-right>div>div {
  background-color: rgba(255, 255, 255, 0.568);
  border: 4px rgb(26, 185, 26) solid;
  padding: 10px 30px;
}

.background>div {
  padding: 10px;
  border-bottom: 1px grey solid;
}

.profiles {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 10px 20px
}

.profiles>img {
  border-radius: 100%;
}

.profiles>div>p:nth-child(2) {
  font-size: 12px;
}